Managed/2DCONV/2dconv
Managed/ATAX/atax
Managed/AddVectors/add_vectors
Managed/FDTD-2D/main
Managed/StreamTriad/stream_triad
Managed/backprop/backprop
Managed/bfs/bfs
Managed/hotspot/hotspot
Managed/nw/needle
Managed/pathfinder/pathfinder
Managed/ra/main
Managed/srad_v2/srad
Managed/sssp/sssp
Managed/stencil/main
Unmanaged/2DCONV/2dconv
Unmanaged/AddVectors/add_vectors
Unmanaged/FDTD-2D/main
Unmanaged/backprop/backprop
Unmanaged/bfs/bfs
Unmanaged/hotspot/hotspot
Unmanaged/nw/needle
Unmanaged/pathfinder/pathfinder
Unmanaged/ra/main
Unmanaged/srad_v2/srad
Unmanaged/sssp/sssp
Unmanaged/stencil/main
Zero-copy/nw/needle
